<!-- To include header.ejs -->
<%- include ("./partials/header") %>

<div class="container">
  <div id="highScores" class="flex-center flex-column">
    <h1 id="finalScore">High Score</h1>
    <ul id="highScoresList">
      <% users.forEach(user => { %>
        <%= user.username %>
        <%= user.highScore %>

         <% }) %>
    </ul>
    <a href="/" class="btn">Home</a>
  </div>
</div>


<!-- To include footer.ejs -->
<%- include ("./partials/footer") %>
