<!-- To include header.ejs -->
<%- include ("./partials/header") %>

<div class="container">
  <div id="home" class="flex-center flex-column">
    <a href="/home" class="home"> <h1>Quiz App</h1> </a>

    <a href="/level" class="btn">Play</a>
    <a href="/highscores" class="btn">HighScores</a>
  </div>
</div>

<!-- To include footer.ejs -->
<%- include ("./partials/footer") %>
