<!-- To include header.ejs -->
<%- include ("partials/header") %>
<h2>This page will be the landing page</h2>

<h3>In this page we will have 2 links(Play and Highscore)</h3>

<!-- To include footer.ejs -->
<%- include ("partials/footer") %>
