<!-- To include header.ejs -->
<%- include ("./partials/header" , { showHeader: true }) %>

<div class="container">
    <div id="home" class="flex-center flex-column">
        <a href="/" class="home"> <h1>Quiz App</h1> </a>

        <form action="/login" method="post">
            <div >
              
              <label for="email">email</label>
              <input
                required
                class="log"
                type="email"
                name="email"
                placeholder="email"
              />
              
            
        
              <button type="submit" class="btn">Reset Password</button>
            
            </div>
          </form>
    </div>
  </div>